modules = ["bash:v1-20231215-e6d471c", "python-3.10:v25-20230920-d4ad2e4"]
run = "/bin/bash"

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "/bin/bash"]
deploymentTarget = "cloudrun"
